<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::title},~{::body})}"
		xmls:sec="http://www.thymleaf.org/thymleaf-extras-springsecurity5"> 
	
<head>
	<title>トップページ | 顧客管理システム</title>
</head>
<body>
	<h1>顧客管理システム</h1>
	<ul>
		<li>
			<a href="./cliants/list.html" th:href="@{/cliants}">顧客一覧</a>
		</li>
		<li>
			<a href="./contacts/list.html" th:href="@{/contacts}">連絡履歴</a>
		</li>
		<li>
			<a href="#" >トランザクション</a>
		</li>
		<li sec:authorize="hasAuthority('ADMIN')">
			<a href="./users/list.html" th:href="@{/users}">ユーザー一覧</a>
		</li>
		<li>
			<a href="./logout.html" th:href="@{/logout}">ログアウト</a>
		</li>
	</ul>
</body>
</html>